/* Grid system */

.container {
	width: 968px;
	padding-left: 14px;
	padding-right: 14px;
	margin: 42px auto;
	min-height: 350px;
}

.row:before, .row:after{
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.row {
	margin-left: -14px;
	margin-right: -14px;
	min-height: 21px;
	margin-bottom: 3px;
	padding: 3px 0;
}

/*
	GOOGLE: 

	CSS
	grid system
	columns
	how to select 'class' attribute

*/

[class*="col-"] {
	min-height: 7px;
	margin-bottom: 3px;
	padding: 0 14px;
	float: left;
}

.col-1 {
	/* (1 / 12) x 100 */
	width: 8.333333%;
} 

.col-2 {
	/* (2 / 12) x 100 */
	width: 16.666667%;
} 

.col-3 {
	/* (3 / 12) x 100 */
	width: 25%;
} 

.col-4 {
	/* (4 / 12) x 100 */
	width: 33.33%;
}

.col-5 {
	/* (5 / 12) x 100 */
	width: 41.666667%;
}

.col-6 {
	/* (6 / 12) x 100 */
	width: 50%;
} 

.col-7 {
	/* (7 / 12) x 100 */
	width: 58.333333%;
}

.col-8 {
	/* (8 / 12) x 100 */
	width: 66.666667%;
}

.col-9 {
	/* (9 / 12) x 100 */
	width: 75%;
}

.col-10 {
	/* (10 / 12) x 100 */
	width: 83.333333%;
}

.col-11 {
	/* (11 / 12) x 100 */
	width: 91.666667%;
}

.col-12 {
	/* (12 / 12) x 100 */
	width: 100%;
}



























