/* PROYECTO */
.container{
	width: 100%;
	padding: 0;
	text-align: center;
	margin: 0;
}
.titulo{
	height: 97px;
    position: relative;
    width: 100%;
}
.men{
	position: fixed;
	width: 100%;
	background-color: black;
	height: 100px;
    z-index: 10;
}
.content{
	height: 200px;
	background-color: rgba(199, 199, 199, 0.53);
	margin: 20px;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 2px solid grey;
}
.content img {
	width: 100%;
	position: fixed;
	left: 0;
}
.ofert{
	width: 70%;
	height: 100px;
	border-bottom: 2px solid grey;
	position: relative;
	top: 30%;
	left: 15%;
}
.ofert span{
	font-size: 70px;
	font-family: arial;
	color: rgb(182, 9, 9);
}


.lista{
	position: relative;
	width: 45%;
	left: 50%;
	top: 40px;
}
.titulo .lov{
    width: 10%;
    position: fixed;
    top: 1%;
    left: 1%;
}

h1{
	font-family:Verdana;
	color:grey;
}

a{
	padding: 5px  30px;
	color:white ;
	font-size: 20px;
	text-decoration: none;
}
a:hover{ 
	color: red;
}
 .cuadro{
 	height: 350px;
 	background-color:rgb(87, 86, 89);
 }
 .cuadro img{
 	position: relative;
    width: 100%;
    height: 100%;
 }
 .large{
 	height: 350px;
 	background-color:rgba(182, 180, 178, 0.58);
 	padding: 10px;
 }

[class*="col-"] {
	padding: 0;
}
.articulo{
	margin: 0 auto;
	width: 80%;
	top: 60%;
	position: relative;
}
.large h1{
	color:rgb(44, 43, 43);
	font-size: 25px;
	text-align: left;
	padding: 15px 30px;
}
.large h3{
	color:rgb(172, 14, 14)s;
	font-size: 20px;
	text-align: left;
	padding: 0 30px;
}
.large p{
	color:rgb(49, 49, 49);
	font-size: 19px;
	text-align: justify;
	padding: 30px; 
}
.bord{
	width: 30%;
	height: 70px;
	border: 1px solid rgba(247, 8, 8, 0.54);
	border-radius: 5px;
	padding: 15px;
	margin: 10px 30px;
    background-color: rgba(5, 1, 1, 0.58);
}
.bord span{
	color:rgb(255, 255, 255);
	text-align: center;
	font-size: 30px;
	
}
.bord:hover{
	background-color: black;
}

.row{
	padding: 15px;
}


