/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CLEARFIX */
.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* Text helper classes */

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}





















/* COLORES */
.bg-primary {
  background-color: #337ab7;
}

.bg-success {
  background-color: #5cb85c;
}

.bg-info {
  background-color: #5bc0de;
}

.bg-warning {
  background-color: #f0ad4e;
}

.bg-danger {
  background-color: #d9534f;
}

.bg-blue-darker {
  background-color: #3a4959;
}

.bg-blue-dark {
  background-color: #647e9a;
}

.bg-blue {
  background-color: #8fa2b6;
}

.bg-blue-light {
  background-color: #e6eaef;
}

.bg-blue-lighter {
  background-color: #fbfcfd;
}

.bg-gray-darker {
  background-color: #222222;
}

.bg-gray-dark {
  background-color: #333333;
}

.bg-gray {
  background-color: #555555;
}

.bg-gray-light {
  background-color: #777777;
}

.bg-gray-lighter {
  background-color: #eeeeee;
}

.bg-white {
  background-color: #fff;
}